<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="off">

  <Properties>
    <Property name="format"><![CDATA[[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %m%n]]></Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>${format}</pattern>
      </PatternLayout>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
